.footer__left
  .about
    h2.footer__title 關於 吃堡小餐館
    p 漢堡、炸物、輕食、沙拉樣樣俱全，來到吃飽小餐館，一定吃得飽，如果一份不夠，那就點兩份！讓你帶著快樂與脂肪一起走，絕不空手而歸～
  .contact
    h2.footer__title 聯絡方式
    ul
      li
        a(href="https://goo.gl/maps/4qfuJYXHxawiVXU8A", target="_blank", rel="noopener noreferrer")  •	臺北火車站神秘小角落
      li
        a(href="tel:+0212345678")  •	(02) 1234-5678
      li
        a(href="mailto:service@eatHamburger.com")  •	service@eatHamburger.com
.footer__right
  .title-style 吃堡小餐館
  ul.social-media
    li.social-media__item.social-media__google
      i.fab.fa-google-plus-square
    li.social-media__item.social-media__twitter
      i.fab.fa-twitter-square
    li.social-media__item.social-media__facebook
      i.fab.fa-facebook-square