meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="吃堡小餐館是位於高雄市的美式餐廳，使用台灣本土蔬菜，由專業米其林廚師為您製作美味餐點")
meta(name="keywords", content="吃堡小餐館, 高雄市, 美式餐廳, 米其林廚師")

link(rel="shortcut icon", href="./image/favicon.ico", type="image/x-icon")
link(rel="apple-touch-icon", href="./image/favicon.png", size="192x192")
title 吃堡小餐館

link(rel="stylesheet", href="./style/reset.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css")