<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    block head
      include head.pug
  body
    header
      block header
        include header.pug
    main
      block main
    footer
      block footer
        include footer.pug
    block script
      include script.pug