#chef.chef
  .chef__left
    img(src="./image/ronan-kruithof-llcX9pTjhXM-unsplash.jpg", alt="chef")
  .chef__right.chef-info
    .chef-info__name-chi 今日主廚：吉米・狠燴主
    .chef-info__name-eng Today Chef: Jamie Cook
    .chef-info__intro
      p 於廚師世家中長大，爸爸、媽媽、爺爺、奶奶、外公、外婆、叔叔、阿姨、姑丈、姑姑全是廚師，別家嬰兒睡的是軟綿綿的嬰兒床，他小時候可是睡在廚房爐灶。
      p 從小就跟廚房器具一起生活，練就一身的好廚藝，閉著眼也可以快速端出一道美味料理，切菜的英姿遠勝過中華一番特級廚師小當家，餐點一樣會發光，而且還更亮！
      p 想親眼見識大廚料理的卓越技巧嗎？那您絕對不能錯過我們，趕快訂位吧～