#feature.feature
  h2.feature__title 客人總是在詢問
    br
    | 這麼好吃的秘訣是什麼
  ul
    li.feature-card
      img.feature-card__img(src="./image/feature_1.png", alt="台灣本土蔬菜")
      p.feature-card__subtitle 臺灣本土蔬菜
      p.feature-card__content 採用有機農法栽種，每日現採當季蔬菜，產地新鮮直送，一起支持臺灣在地小農！
    li.feature-card
      img.feature-card__img(src="./image/feature_2.png", alt="專業米其林廚師")
      p.feature-card__subtitle 專業米其林廚師
      p.feature-card__content 莫名其妙就獲得米其林稱號的主廚每天都在吃堡小餐館為您服務，平價消費就能享受到高級料理唷～
    li.feature-card
      img.feature-card__img(src="./image/feature_3.png", alt="對於專業不能退讓")
      p.feature-card__subtitle 對於專業不能退讓
      p.feature-card__content 賭上廚師世家的名譽，對於每個細節都不放過，堅持提供您最美味的餐點。