div.result
  .operation
    //- .search
    //-   input.search__input(type="text", name="")
    //-   button.search__button(type="button", value="")
    //-     i.fas.fa-search
    .order
      span.order__checkout 結帳去
      span.order__cart
        i.fas.fa-shopping-cart
  ul.meal
    li.meal-card.hot
      .meal-card__img-frame
        .meal-card__img-blur(style="background-image: url('./image/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg')")
        img.meal-card__img(src="./image/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg", alt="蕃茄牛肉堡")
      input.meal-card__checkbox(type="checkbox" id="product_1")
      label.meal-card__save(for="product_1")
      .meal-card__name-chi 蕃茄牛肉堡
      .meal-card__name-eng Beef Burger
      .meal-card__price 240
      .meal-card__add
        i.fas.fa-shopping-cart
        | 加入購物車
    li.meal-card.hot
      .meal-card__img-frame
        .meal-card__img-blur(style="background-image: url('./image/amirali-mirhashemian-9Bqiusimq6M-unsplash.jpg')")
        img.meal-card__img(src="./image/amirali-mirhashemian-9Bqiusimq6M-unsplash.jpg", alt="起司漢堡")
      input.meal-card__checkbox(type="checkbox" id="product_2")
      label.meal-card__save(for="product_2")
      .meal-card__name-chi 起司漢堡
      .meal-card__name-eng Cheese Burger
      .meal-card__price 180
      .meal-card__add
        i.fas.fa-shopping-cart
        | 加入購物車
    li.meal-card.hot
      .meal-card__img-frame
        .meal-card__img-blur(style="background-image: url('./image/amirali-mirhashemian-d-yAWqj-DRg-unsplash.jpg')")
        img.meal-card__img(src="./image/amirali-mirhashemian-d-yAWqj-DRg-unsplash.jpg", alt="雙層牛肉漢堡")
      input.meal-card__checkbox(type="checkbox" id="product_3")
      label.meal-card__save(for="product_3")
      .meal-card__name-chi 雙層牛肉漢堡
      .meal-card__name-eng Double Beef Burger
      .meal-card__price 280
      .meal-card__add
        i.fas.fa-shopping-cart
        | 加入購物車
    li.meal-card.hot
      .meal-card__img-frame
        .meal-card__img-blur(style="background-image: url('./image/amirali-mirhashemian-7NYn7YfpaZo-unsplash.jpg')")
        img.meal-card__img(src="./image/amirali-mirhashemian-7NYn7YfpaZo-unsplash.jpg", alt="起司培根漢堡")
      input.meal-card__checkbox(type="checkbox" id="product_4")
      label.meal-card__save(for="product_4")
      .meal-card__name-chi 起司培根漢堡
      .meal-card__name-eng Cheese Bacon Burger
      .meal-card__price 240
      .meal-card__add
        i.fas.fa-shopping-cart
        | 加入購物車
    li.meal-card.hot
      .meal-card__img-frame
        .meal-card__img-blur(style="background-image: url('./image/amirali-mirhashemian-pFWQcon7T_E-unsplash.jpg')")
        img.meal-card__img(src="./image/amirali-mirhashemian-pFWQcon7T_E-unsplash.jpg", alt="培根漢堡")
      input.meal-card__checkbox(type="checkbox" id="product_5")
      label.meal-card__save(for="product_5")
      .meal-card__name-chi 培根漢堡
      .meal-card__name-eng Bacon Burger
      .meal-card__price 180
      .meal-card__add
        i.fas.fa-shopping-cart
        | 加入購物車