.review
  h2.review__title 聽聽別人的感想
  ul
    li.review-card
      img.review-card__avatar(src="./image/avatar_1.png", alt="avatar")
      p.review-card__name 高雄一口吃
      p.review-card__content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
      p.review-card__job  產品經理
    li.review-card
      img.review-card__avatar(src="./image/avatar_2.png", alt="avatar")
      p.review-card__name 廟口小霸王
      p.review-card__content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
      p.review-card__job  金身道士
    li.review-card
      img.review-card__avatar(src="./image/avatar_3.png", alt="avatar")
      p.review-card__name 春天也來了
      p.review-card__content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
      p.review-card__job  美麗萬分